:root {
    --md-text-font: "alagard";

    /* Primary color shades */
    --md-default-fg-color: #000000 !important;
    --md-primary-fg-color: #16120e;
    --md-primary-fg-color--light: #861f4194;
    --md-primary-fg-color--dark: #ac325a;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-text-link-color: hsla(231, 48%, 48%, 1);
    /* Accent color shades */
    --md-accent-fg-color: #a5a39f;
    --md-accent-fg-color--transparent: hsla(189, 18%, 29%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
  }

  :root > * {

    /* Code block color shades */
    --md-code-bg-color: #94928e !important;
    --md-code-fg-color:  #25211e !important;

    /* Footer */
    --md-footer-bg-color: #16120e;
    --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
  }
@font-face {
    font-family: 'alagard';
    src: url('alagard.ttf') format('truetype')
}
body {
    background-color: #25211e;
    color: #94928e !important;
}

h1, h2 {
    color: #94928e !important;
    font-weight: 700 !important;
}
.md-header {
    color:#b6b4af !important;
}
.md-header__button.md-logo {
  margin: 0 .4rem 0 .2rem;
  padding: 0 0 0 .4rem;
}
.md-header__button.md-logo img {
  border-radius: 100%;
  width: 1.6rem;
  height: 1.6rem;
}
.md-nav--secondary .md-nav__title {
    background: #25211e !important;
    box-shadow: 0 0 .4rem .4rem #25211e !important;
}
.md-nav__container {
    background: #25211e !important;
    box-shadow: 0 0 .4rem .4rem #25211e !important;
}



.md-source__repository--active .md-source__facts {
    -webkit-animation: none !important;
    animation: none important;
}
.md-header--shadow {
    transition: none !important;
    box-shadow: 0 0 0;
}
.md-source__repository--active .md-source__facts li {
    -webkit-animation: none !important;
    animation: none important;
}
.md-source {
    color: #94928e !important;
    transition: none !important;
}
.md-tabs__link {
    color: #94928e !important;
}
.md-tabs__link:hover {
    color: #b6b4af !important;
}
.md-tabs__link--active {
    color: #b6b4af !important;
}
.md-nav__link {
    color: #94928e !important;
}
.md-nav__link:hover {
    color: #b6b4af !important;
}
.md-nav__link--active {
    color: #b6b4af !important;
    font-weight: bold;
}

a.md-nav__link--active:before {
    content: "\00B7";
    margin-right: 6px;
}

.md-header__title {
  margin-left: 0 !important;
}

.md-footer__inner {
  display: none !important;
}

.md-nav__link.md-nav__link--index, .md-nav__link.md-nav__container {
  padding: 0 .6rem 0.5rem 0.6rem !important;
}
.md-nav__title {
  padding: 0 .6rem 0.5rem 0.6rem !important;
}
[data-md-toggle="search"]:checked ~ .md-header .md-search__form {
    background-color: #25211e;
    color: #94928e !important;
}
.md-search-result__meta {
    background-color: #35312e;
    color: #94928e !important;
}

.md-search-result__list {
    background-color: #25211e;
}
.md-search__icon.md-icon {
    color: #94928e !important;
}
[data-md-toggle="search"]:checked ~ .md-header .md-search__input + .md-search__icon, [data-md-toggle="search"]:checked ~ .md-header .md-search__input::placeholder {
    color: #94928e !important;
}
.md-search-result .md-typeset {
    color: #94928e !important;
}
.md-search-result__icon.md-icon {
    color: #94928e !important;
}
.md-search-result__link:hover {
    background-color: #35312e;
}
.md-search-result__more {
    display: none;
}
.md-search-result__more:hover {
    background-color: #35312e;
}
.md-search-result__more[open] > summary {
    background-color: #35312e;
}
.md-nav__icon {
    transition: none !important;
}
.md-content__inner.md-typeset img {
    border-radius: 5px;
    border: 1px solid #35312e;
    box-shadow: 0 0 1px 1px #16120e;
}
.admonition {
    border-radius: 5px !important;
    background-color: #35312e !important;
    color: #94928e !important;
    box-shadow: 0px 0px 0px 1px #16120e !important;
    border: 1px solid #45413e !important;
}
.md-tooltip.md-tooltip--active {
    background-color: #25211e !important;
}
.md-tooltip__inner.md-typeset {
    color: #94928e;
}
.md-tooltip__inner.md-typeset a {
    color: #94928e;
}
.md-tooltip__inner.md-typeset a:hover {
    color: #b6b4af !important;
}
.admonition a {
    color: #94928e;
    font-weight: bold;
    text-decoration: none;
}
.admonition a:hover {
    color: #b6b4af !important;
}
.md-content__inner.md-typeset a {
    color: #94928e;
    font-weight: bold;
    text-decoration: none;
}
.md-content__inner.md-typeset a:hover {
    color: #b6b4af !important;
}
.md-typeset table:not([class]) {
    box-shadow: 0px 0px 0px 1px #16120e !important;
    border-radius: .2rem;
    background-color: #35312e;
}

.md-typeset table:not([class]) thead th {
    padding: .5rem .5rem;
    margin: .5rem .5rem;
    border-bottom: .05rem solid #25211e;
}
.md-typeset table:not([class]) tbody td {
    padding: .25rem .5rem;
    margin: .25rem .5rem;
    vertical-align: middle;
    border-top: .05rem solid #45413e;
    border-bottom: .05rem solid #25211e;
}
hr {
    margin: 0 !important;
    border-bottom: 1px solid #25211e !important;
    border-top: 1px solid #45413e !important;
}
.skill {
    float: right;
}

.skillbox h3 {
    margin: 1em 0 !important;
}
.skillbox hr {
    height: 0px;
}
.skillbox img {
    margin-top: 0 !important;
    height: 5.8em;
    width: 5.8em;
    float: left;
    margin-right: 1em;
}

.skill img {
    border: 0 solid #000 !important;
    box-shadow: 0 0 0 0 !important;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 0px;
}

.skill-mastery img {
    border: 0 solid #000 !important;
    box-shadow: 0 0 0 0 !important;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}


.knowledgebox h3 {
    margin: 1em 0 !important;
}
.knowledgebox hr {
    height: 0px;
}
.knowledgebox img {
    margin-top: 0 !important;
    height: 3.2em;
    width: 3.2em;
}
.weaponskillbox img {
    margin-top: 0 !important;
    height: 3.2em !important;
    width: 3.2em !important;
    float: left;
    margin-right: 1em;
}
.weaponskillbox h3 {
    margin: 1em 0 !important;
}
.weaponskillbox hr {
    height: 0px;
}
.md-tooltip.md-tooltip--inline.md-tooltip--active {
    font-size: 16px !important;
}
.note {
    background-color: #000;
}
.tallequipmentbox img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 6.4em;
    width: 3.2em;
    float: left;
    margin-right: 1em;
}
.tallequipmentbox h3 {
    margin: 1em 0 !important;
}
.tallequipmentbox hr {
    height: 0px;
}
.equipmentbox img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 3.2em;
    width: 3.2em;
    float: left;
    margin-right: 1em;
}
.equipmentbox h3 {
    margin: 1em 0 !important;
}
.equipmentbox hr {
    height: 0px;
}
.weaponskill {
}
.weaponskill img {
    height: 2.4em !important;
    width: 2.4em !important;
    margin: 0 .5em 0 0 !important;
    vertical-align: middle;
}
.crafting {
    font-size: .9em;
}

.crafting img {
    height: 1.8em;
    width: 1.8em;
    margin-right: 0.5em !important;
    border: 0 solid #000 !important;
    box-shadow: 0 0 0 !important;
}
